{% extends 'core/index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block page_content %}
<link href=" {% static 'css/expedientes.css' %} " rel="stylesheet">

<div class="container-fluid">
  <div class="container mt-4">
    <div class="card shadow-sm col-md-12 mx-auto">

      <!-- Encabezado -->
      <div class="card-header text-center">
        <h5 class="mb-0">
          {% if form.instance.pk %}EDITAR EXPENDIENTE {% else %}NUEVO EXPEDIENTE{% endif %}
          <span id="medioIngresoTexto">{{ form.instance.medio_ingreso }}</span>
        </h5>
      </div>

      <!-- Formulario -->
      <div class="card-body">
        <form method="post" novalidate class="small-form">
          {% csrf_token %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
          {% endif %}

          <!-- Inicio -->
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="border-bottom pb-2 mb-3">Inicio</h6>
              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ form.medio_ingreso.label_tag }}
                  {{ form.medio_ingreso }}
                </div>
                <div class="form-group col-md-4">
                  {{ form.sede.label_tag }}
                  {{ form.sede }}
                </div>
                <div class="form-group col-md-4">
                  {{ form.fecha_creacion.label_tag }}
                  {{ form.fecha_creacion }}
                </div>
              </div>
            </div>  
          </div>

          <!-- Datos del oficio -->
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="border-bottom pb-2 mb-3">Datos del oficio</h6>

              <div class="form-row">
                <!-- Institución (col-7) + botón agregar (col-1) -->
                <div class="form-group col-md-8">
                  {{ form.institucion.label_tag }}
                    <div class="input-group">
                      {{ form.institucion|add_class:"form-select" }}
                        <a href="{% url 'institucion:institucion_create' %}?next={{ request.path }}" 
                          class="btn btn-outline-secondary ms-2" 
                          title="Agregar nueva Institución">
                          <i class="fas fa-plus"></i>
                        </a>
                    </div>
                </div>

                <!-- Fecha de Juzgado -->
                <div class="form-group col-md-4">
                  {{ form.fecha_de_juzgado.label_tag }}
                  {{ form.fecha_de_juzgado|add_class:"form-control" }}
                </div>
              </div>

              <div class="form-row">
                <!-- Fecha de Recepción -->
                <div class="form-group col-md-4">
                  {{ form.fecha_de_recepcion.label_tag }}
                  {{ form.fecha_de_recepcion|add_class:"form-control" }}
                </div>

                <!-- CUIJ -->
                <div class="form-group col-md-4">
                  {{ form.cuij.label_tag }}
                  {{ form.cuij|add_class:"form-control" }}
                </div>

                <!-- Clave SISFE -->
                <div class="form-group col-md-4">
                  {{ form.clave_sisfe.label_tag }}
                  {{ form.clave_sisfe|add_class:"form-control" }}
                </div>
              </div>
              <div class="form-row">
                <!-- Expediente Físico (checkbox) -->
                <div class="form-group col-md-10 mt-0 mb-0">
                  <div class="form-check d-flex align-items-center">
                    {{ form.expediente_fisico|add_class:"form-check-input" }}
                    <label for="{{ form.expediente_fisico.id_for_label }}" class="form-check-label mt-0 mb-0 ms-2">
                    {{ form.expediente_fisico.label }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Información complementaria -->
          <div class="card mb-3">
            <div class="card-body">
              <h6 class="border-bottom pb-2 mb-3">Información complementaria</h6>
              <div class="form-row align-items-end">
                <div class="form-group col-md-4">
                  {{ form.tipo_solicitud.label_tag }}
                  {{ form.tipo_solicitud }}
                </div>
                <div class="form-group col-md-4">
                  {{ form.estado_expediente.label_tag }}
                  {{ form.estado_expediente }}
                </div>
                <div class="form-group col-md-1">
                  {{ form.edad_persona.label_tag }}
                  {{ form.edad_persona }}
                </div>
                <div class="form-group col-md-3">
                  {{ form.grupo_etario.label_tag }}
                  {{ form.grupo_etario }}
                </div>
              </div>
              <!-- Row 2 -->
              <div class="form-row align-items-end">
                <div class="form-group col-md-6">
                  {{ form.tipo_patrocinio.label_tag }}
                  {{ form.tipo_patrocinio }}
                </div>
                <div class="form-group col-md-6">
                  {{ form.resumen_intervencion.label_tag }}
                  {{ form.resumen_intervencion }}
                </div>
              </div>
              <!-- Row 3 -->
              <div class="form-row align-items-end">
                <div class="form-group col-md-6">
                  {{ form.situacion_habitacional_hist.label_tag }}
                  {{ form.situacion_habitacional_hist }}
                </div>
                <div class="form-group col-md-6">
                  {{ form.observaciones.label_tag }}
                  {{ form.observaciones }}
                </div>
              </div>
            </div>
          </div>

        <div class="text-end mt-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'persona:persona_list' %}" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ form.media }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const medioIngresoSelect = document.getElementById("id_medio_ingreso");
    const textoMedioIngreso = document.getElementById("medioIngresoTexto");

    if (medioIngresoSelect) {
      const actualizarTexto = () => {
        const texto = medioIngresoSelect.options[medioIngresoSelect.selectedIndex]?.text || "";
        textoMedioIngreso.textContent = texto;
      };

      medioIngresoSelect.addEventListener("change", actualizarTexto);
      
      // Inicializar con el valor actual (en caso de carga inicial vacía)
      actualizarTexto();
    }
  });
</script>

{% endblock page_content %}
