{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Recibiste este correo porque solicitaste restablecer la contraseña de tu cuenta en {{ site_name }}.{% endblocktranslate %}

{% translate "Por favor, visita la siguiente página y elige una nueva contraseña:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate 'En caso de que lo hayas olvidado, tu usuario es:' %} {{ user.get_username }}

{% translate "¡Gracias por usar nuestro sitio!" %}

{% blocktranslate %}El equipo de {{ site_name }}{% endblocktranslate %}
{% endautoescape %}