{% load static %}

<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href=" {% url 'core:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="{% static 'img/Defensoria-del-Pueblo.png' %}" alt="Logo ORSM" class="img-fluid"  style="width: 50px; height: 50px;">
          <!--<i class="fas fa-laugh-wink"></i>-->
        </div>
        <div class="sidebar-brand-text mx-3">ORSM<sup>DPSF</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePersona" aria-expanded="true" aria-controls="collapsePersona">
          <i class="fa fa-users"></i>
          <span>Personas</span>
        </a>
        <div id="collapsePersona" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestión de personas</h6>
            <a class="collapse-item" href="{% url 'persona:persona_list' %} ">
              <i class="fas fa-list-ul text-info me-2"></i>Listado</a>
            <a class="collapse-item" href="{% url 'persona:persona_create' %} ">
              <i class="fas fa-plus-circle me-2 text-success"></i>Nueva</a>
            <a class="collapse-item" href="#"><i class="fas fa-search text-warning me-2"></i>Busqueda</a>  
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstitucion" aria-expanded="true" aria-controls="collapseInstitucion">
          <i class="fas fa-landmark"></i>
          <span>Instituciones</span>
        </a>
        <div id="collapseInstitucion" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="{% url 'institucion:institucion_list' %}">
              <i class="fas fa-list-ul text-info me-2"></i>Listado</a>
            <a class="collapse-item" href="{% url 'institucion:institucion_create' %}">
              <i class="fas fa-plus-circle me-2 text-success"></i>Nueva</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExpediente" aria-expanded="true" aria-controls="collapseExpediente">
          <i class="far fa-file"></i>
          <span>Expedientes</span>
        </a>
        <div id="collapseExpediente" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="{% url 'expediente:medio_ingreso_select' %}"><i class="fas fa-hashtag text-success me-2" ></i>Medio de Ingreso</a>
            <a class="collapse-item" href="{% url 'expediente:expediente_list' %}"><i class="fas fa-list-ul text-info me-2"></i>Listado</a>
            <a class="collapse-item" href="#"><i class="fas fa-search text-warning me-2"></i>Busqueda</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProfesional" aria-expanded="false" aria-controls="collapseProfesional">
        <i class="fas fa-user-tie"></i>
          <span>Profesionales</span>
        </a>
        <div id="collapseProfesional" class="collapse" aria-labelledby="headingProfesional" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestión de Profesionales:</h6>
            <a class="collapse-item" href="{% url 'profesional:profesional_list' %}">
              <i class="fas fa-list-ul text-info me-2"></i> Listado
            </a>
            <a class="collapse-item" href="{% url 'profesional:profesional_create' %}">
              <i class="fas fa-plus-circle me-2 text-success"></i> Nuevo
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInternacion" aria-expanded="false" aria-controls="collapseInternacion">
        <i class="fas fa-bed"></i>
          <span>Internaciones</span>
        </a>
        <div id="collapseInternacion" class="collapse" aria-labelledby="headingInternacion" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestión de Internaciones:</h6>
            <a class="collapse-item" href="{% url 'internacion:internacion_list' %}">
              <i class="fas fa-list-ul text-info me-2"></i> Listado
            </a>
            <a class="collapse-item" href="{% url 'internacion:internacion_create' %}">
              <i class="fas fa-plus-circle me-2 text-success"></i> Nuevo
            </a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIntervencion" aria-expanded="false" aria-controls="collapseIntervencion">
        <i class="fas fa-highlighter"></i>
          <span>Intervenciones</span>
        </a>
        <div id="collapseIntervencion" class="collapse" aria-labelledby="headingIntervencion" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestión de Intervenciones:</h6>
            <a class="collapse-item" href="#">
              <i class="fas fa-list-ul text-info me-2"></i> Listado
            </a>
            <a class="collapse-item" href="{% url 'intervencion:intervencion_create' %}">
              <i class="fas fa-plus-circle me-2 text-success"></i> Nuevo
            </a>
          </div>
        </div>
      </li>







      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item small-nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="{% url 'admin:index' %}">Ir al admin</a>

            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Addons
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed small-nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Login Screens:</h6>
            <a class="collapse-item" href="login.html">Login</a>
            <a class="collapse-item" href="register.html">Register</a>
            <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Other Pages:</h6>
            <a class="collapse-item" href="404.html">404 Page</a>
            <a class="collapse-item" href="blank.html">Blank Page</a>
          </div>
        </div>
      </li>

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Charts</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Tables</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>