{% extends 'core/index.html' %}

{% block page_content %}

<!-- Begin Page Content -->
 <div class="container-fluid">

<form method="post" action="">
    {% csrf_token %}
    
 <div class="row">
    <div class="col-xl-6 col-md-6 mb-6">
        {% if institucion %}
        
        <div class="card border-left-warning shadow h-100 py-2">
              
        {% else %}
        <div class="card border-left-success shadow h-100 py-2">
              
        {% endif %}
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xl font-weight-bold text-success text-uppercase mb-3">
                      {% if institucion %}
                        Editar Institución
                      {% else %}
                        Agregar Institución
                      {% endif %}
                        
                      </div>
                      <div class="h6 mb-0 font-weight-bold text-gray-600">
                        {{form.as_p}}
                      </div>
                      <button type="submit" class="btn btn-primary mt-3">Guardar</button>
                      <a href="{% url 'institucion:institucion_list' %}" class="btn btn-secondary mt-3">Cancelar</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div class="container-fluid">
{% endblock page_content %}
