
{% extends 'core/index.html' %}
{% load static %}

{% block page_content %}
<body>
  <div class="container mt-4">
    <h2>Detalle de la Institución</h2>
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th scope="row" style="width: 25%;">Nombre</th>
              <td>{{ institucion.institucion }}</td>
            </tr>
            <tr>
              <th scope="row">Tipo</th>
              <td>{{ institucion.tipo_institucion }}</td>
            </tr>
            <tr>
              <th scope="row">Calle</th>
              <td>{{ institucion.domicilio_calle }}</td>
            </tr>
            <tr>
              <th scope="row">Número</th>
              <td>{{ institucion.domicilio_numero }}</td>
            </tr>
            <tr>
              <th scope="row">Piso</th>
              <td>{{ institucion.domicilio_piso }}</td>
            </tr>
            <tr>
              <th scope="row">Departamento</th>
              <td>{{ institucion.domicilio_depto }}</td>
            </tr>
            <tr>
              <th scope="row">Localidad</th>
              <td>{{ institucion.localidad }}</td>
            </tr>
            <tr>
              <th scope="row">Teléfono</th>
              <td>{{ institucion.telefono }}</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td>{{ institucion.email }}</td>
            </tr>
            <tr>
              <th scope="row">CUIT</th>
              <td>{{ institucion.cuit }}</td>
            </tr>
            <tr>
              <th scope="row">Estado</th>
              <td>{{ institucion.estado }}</td>
            </tr>
          </tbody>
        </table>
        <a href="{% url 'institucion:institucion_list' %}" class="btn btn-secondary mt-3">Volver al listado</a>
      </div>
    </div>
  </div>
</body>

          {% block body %}

          {% endblock body %}
 


{% endblock page_content %}

{% block js_page %}
  
{% endblock js_page %}



